<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <% let title; %>
        <% if(typeof(hackerid) === 'undefined'){ %>
            <% title='unstable' %>
        <% } %>
        <title><%=title%></title>
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>
<body>